/* test area */
/* .debug {
  background-color: red;
}

.debug nav {
  background-color: yellow;
  border: 2px solid black;
}
.debug section {
  background-color: green;
  border: 2px solid black;
}
.debug footer {
  background-color: purple;
  border: 2px solid black;
} */
/* test area */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility */
a {
  color:#6A6A6A;
  text-decoration: none;
}
a:active {
  color: white;
}
a:hover{
  color: white;
}
ul {
  list-style: none;
}
.flex_row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* /utility */

#page_container{
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
/* main */
main {
  height: calc(100% - 90px);
  display: flex;
}
/* nav */
#user-navbar {
  width: 200px;
  height: 100%;
  color: white;
  overflow: hidden;
  background-color: #000000;
}

/* navbar top */
.nav-top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  overflow-y: hidden;
  min-height: 250px;
  padding: 20px;
}
.nav-logo{
  margin-bottom: 20px;
}
.nav-logo > a {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.nav-top a > span {
  font-size: 30px;
}

.nav-section li{
  vertical-align: middle;
  height: 30px;
  margin: 10px 0;
}
.nav-section i {
  vertical-align: middle;
  font-size: 25px;
  margin-right: 5px;
}
#home a {
  color: white
}
#home::before {
  vertical-align: middle;
  margin-right: 20px;
  margin-left: -20px;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #9DE82E;
  display: inline-block;
}
/* /navbar top */

/* playlists */
.center-list {
  padding: 20px 0;
  overflow-y: hidden;
}
.center-list i {
  color: #A3A3A3;
  vertical-align: middle;
  font-size: 30px;
}
.center-list i:hover{
  color: white;
}
.center-list > a {
  vertical-align: middle;
}
.center-list > h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

#playlists {
  height: 80%;
  overflow-y: auto;
}
#playlists li {
  margin-top: 8px;
  height: 20px;
  line-height: 20px;
}
/* /playlists */

/* user */
.user {
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 100px;
}
.user h3 {
  border-top: 1px solid #6A6A6A;
  margin:10px 0;
  padding-top: 10px;
}

.user i {
  margin: 0 5px;
  font-size: 15px
}
.fa-user {
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #808080;
}
/* /user */
/* /nav */

/* content section */
section#content {
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px;
  background-color: #141922;
  padding-top: 100px;
  overflow-y: scroll;
  color: white;
}
/* content navbar */
#content_navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 20px 0;
}
#content_navbar li {
  text-align: center;
  display: inline-block;
  padding-right: 30px;
  margin-bottom: 20px;
}
#active::after {
  content: "";
  height: 2px;
  width: 30%;
  background-color: #9DE82E;
  display: inline-block;
}
/* /content navbar */

/* upgrade bar */
#upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#upgrade a {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #ECECED;
  border: 2px solid #ECECED;
  border-radius: 25px;
  margin-right: 20px;
}
#upgrade a:hover {
  padding: 20px 35px;
  border-radius: 30px;
}
/* upgrade bar */

/* playlist item */
#content p {
  color: #43474E;
  padding: 10px 0;
}

.mini-container {
  width: calc(100% / 6);
  height: 100%;
  margin: 30px 0 80px 0;
  position: relative;
  padding-right: 10px ;
  text-align: center;
}
.mini-container > img {
 width: 100%;
 }
.description {
  height: 10%;
}
.play {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: calc(90% - 10px);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.play span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.mini-container:hover .play {
  cursor: pointer;
  opacity: 1;
}
.description {
  margin-top: 10px;
  height: 20px;
}

/* artist album */
#artist  .play {
  border-radius: 50%;
}
#artist img {
  border-radius: 50%;
}
/* /artist album */
/* /playlist item */
/* /content section */
/* /main */

/* footer */
footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}

/* song */
.song {
  width: 200px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.song img {
  width: 25%;
}
#song_description {
  width: 40%;
  margin: 0 5px;
  vertical-align: middle;
}
#song_description a {
  font-size: 10px;
}
.song_link_item  {
  width: 100%;
  margin: 5px;
}

.song_link_item i {
  padding: 0 5px;
}
/* /song */

/* center player */
.center_player {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.center_player > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
.top_center_player a {
  color: white;
  margin: 10px;
  vertical-align: middle;
}
.top_center_player a:nth-child(3) {
  font-size: 25px;
}
/* player and volume line */
.line-first-half ,
.line-second-half {
  vertical-align: middle;
  display: inline-block;
  height: 3px;
}
.line-first-half {
  width: 25%;
  background-color: #B6B6B6;
}
.line-second-half {
  width: 64%;
  margin-left: -3px;
  background-color: #565656;
}
.bottom_center_player {
  text-align: center;
}
.line-first-half >  i {
  line-height: 2px;
  float: right;
  display: none;
}
.bottom_center_player > p {
  padding: 0 20px;
  font-weight: bold;
  font-size: 10px;
}
.line-second-half:hover {
  cursor: pointer;
}
.line-first-half:hover {
  cursor: pointer;
  background-color: #ADFF2F;
}
.line-first-half:hover i{
  display: inline-block;
}
.line-first-half i:hover {
  cursor: e-resize;
}
/* player and volume line */
/* /center player */

/* end player */
.end_player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.end_player a {
  margin-right: 10px;
  color: white;
}
.end_player i {
  vertical-align: middle;
  font-size: 10px;
}
.end_player > div:last-child {
  width: 60%;
}

/* /end player */
/* /footer */

@media screen and (max-width: 991px) {

  .mini-container {
    width: calc(100% / 4);
  }

}

@media screen and (max-width: 767px) {

  .mini-container {
    width: calc(100% / 2);
  }

  .nav-logo a span {
    font-size: 0;
  }
  #user-navbar {
    padding: 0;
    width: 80px;
  }
  section#content {
    width: calc(100% - 100px);
  }
  #upgrade{
    width: calc(100% - 80px);
  }

  .nav-section a {
    font-size: 0;
  }
  .center-list {
    display: none;
  }
  .user {
    text-align: center;
    font-size: 0;
  }
  .user h3{
    border-top: 0;
  }
  .end_player{
    width: 200px;
  }
  .end_player > div:last-child {
    width: 70%;
  }

}
