/* test area */
/* .debug {
  background-color: red;
}

.debug nav {
  background-color: yellow;
  border: 2px solid black;
}
.debug section {
  background-color: green;
  border: 2px solid black;
}
.debug footer {
  background-color: purple;
  border: 2px solid black;
} */
/* test area */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility */
a {
  color:#6A6A6A;
  text-decoration: none;
}
a:active {
  color: white;
}
a:hover{
  color: white;
}
ul {
  list-style: none;
}
.flex_row {
  display: flex;
}
/* /utility */

#page_container{
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
/* main */
main {
  height: calc(100% - 90px);
  display: flex;
}
/* nav */
#user-navbar {
  width: 200px;
  height: 100%;
  color: white;
  overflow: hidden;
  background-color: #000000;
}

/* navbar top */
.nav-top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  overflow-y: hidden;
  min-height: 250px;
  padding: 20px;
}
.nav-logo{
  margin-bottom: 20px;
}
.nav-logo > a {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.nav-top a > span {
  font-size: 30px;
}

.nav-section li{
  padding: 5px 0;
}
.nav-section i {
  font-size: 25px;
  margin-right: 5px;
}
/* /navbar top */

/* playlists */
.center-list {
  padding: 20px 0;
  overflow-y: hidden;
}
.center-list i {
  color: #A3A3A3;
  vertical-align: middle;
  font-size: 30px;
}
.center-list i:hover{
  color: white;
}
.center-list > a {
  vertical-align: middle;
}
.center-list > h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

#playlists {
  height: 80%;
  overflow-y: auto;
}
#playlists li {
  margin-top: 8px;
  height: 20px;
  line-height: 20px;
}
/* /playlists */

/* user */
.user {
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 100px;
}
.user h3 {
  border-top: 1px solid #6A6A6A;
  margin:10px 0;
  padding-top: 10px;
}

.user i {
  margin: 0 5px;
  font-size: 15px
}
.fa-user {
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #808080;
}
/* /user */
/* /nav */

/* content section */
section#content {
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px;
  background-color: #141922;
  padding-top: 100px;
  overflow-y: scroll;
  color: white;
}

/* upgrade bar */
#upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#upgrade a {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #ECECED;
  border: 2px solid #ECECED;
  border-radius: 25px;
  margin-right: 20px;
}
#upgrade a:hover {
  padding: 20px 35px;
  border-radius: 30px;
}
/* upgrade bar */

/* playlist item */
#content p {
  color: #43474E;
  padding: 10px 0;
}
.mini-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 30px 20px 50px 0;
  text-align: center;
}
.mini-container > img {
 height: 200px;
 }
.play {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.play span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
.mini-container:hover .play {
  cursor: pointer;
  opacity: 1;
}
.description {
  margin-top: 10px;
  height: 20px;
}

/* artist album */
#artist  .play {
  border-radius: 50%;
}
#artist img {
  border-radius: 50%;
}
/* /artist album */
/* /playlist item */
/* /content section */
/* /main */

/* footer */
footer {
  padding: 20px;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
/* footer */

@media screen and (max-width: 767px) {

  .nav-logo a span {
    font-size: 0;
  }
  #user-navbar {
    padding: 0;
    width: 80px;
  }
  section#content {
    width: calc(100% - 100px);
  }
  #upgrade{
    width: calc(100% - 80px);
  }
  .nav-section a {
    font-size: 0;
  }
  .center-list {
    display: none;
  }
  .user {
    text-align: center;
    font-size: 0;
  }
  .user h3{
    border-top: 0;
  }

}
