/* test area */
/* .debug {
  background-color: red;
}

.debug nav {
  background-color: yellow;
  border: 2px solid black;
}
.debug section {
  background-color: green;
  border: 2px solid black;
}
.debug footer {
  background-color: purple;
  border: 2px solid black;
} */
/* test area */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page_container{
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
/* main */
main {
  height: calc(100% - 90px);
  display: flex;
}
/* nav */
nav {
  position: relative;
  width: 200px;
  height: 100%;
  padding: 20px;
  color: white;
  overflow: hidden;
  background-color: #000000;
}
nav > a {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
}
a > span {
  font-size: 30px;
}

.user {
  width: calc(100% - 40px);
  position: absolute;
  bottom:0;
}
.user a {
  color: white;
  text-decoration: none;
}
h3 {
  border-top: 1px solid white;
  margin:10px 0;
  padding-top: 10px;
}
.fa-user {
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #808080;

}
/* /nav */

/* content section */
section#content {
  width: calc(100% - 200px);
  height: 100%;
  padding: 20px;
  background-color: #141922;
  overflow-y: scroll;
}
#upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#upgrade a {
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ECECED;
  border: 2px solid #ECECED;
  border-radius: 25px;
  margin-right: 20px;
}
/* /content section */
/* /main */

/* footer */
footer {
  padding: 20px;
  width: 100%;
  height: 90px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* footer */

@media screen and (max-width: 767px) {

  nav span {
    font-size: 0;
  }
  nav {
    width: 100px;
  }
  section#content {
    width: calc(100% - 100px);
  }
  #upgrade{
    width: calc(100% - 100px);
  }
}
